@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background-image: url('Resources/NevadoRuiz.jpg');
    background-repeat: no-repeat;
    height: 600px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    font-family: Poppins, sans-serif;
    list-style-type: none;
}

.nav_list {
    display: flex;
    padding: 20px 20px 20px 800px;
    background-image: linear-gradient(to right, rgb(7, 19, 87, 0), rgba(7, 19, 87, 1));
    float: right;
}

.nav_list a {
    color: white;
    padding: 0 30px;
}

.nav_list a:hover {
    color: rgb(185, 177, 177);
    font-size: 150%;
    border-radius: 10px;
    padding: 30px;
    background-color: rgb(7, 19, 87);
}